@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
/* .container {
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

.one {
  width: 15%;
  height: 200px;
  background: red;
  float: left;
}

.two {
  margin-left: 15%;
  height: 200px;
  background: black;
} */
button {
    font-size: 1.5em;
    background-color: #FFFAE1;
    border: none;
    width: 40%;
    height: 100px;
    padding: 15px 10px;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
  }
  button:hover {
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: translatey(8px);
  }

   button:focus {
    background-color: #e55039;
    color: #FFFAE1;
    border-style: none;
  }
 

/* .Paragraphe1{
  position: relative;
  bottom:450px;
  padding-left: 45%;
  width:45%;
} */

/* .Paragraphe2 {
  position: absolute;
  top:0;
  display: none;
} */

/* .Paragraphe3 {
  position: absolute;
  top:0;
  display: none;
}

.Paragraphe4 {
  position: absolute;
  top:0;
  display: none;
} */