h1 {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 40px;
}

#background {
  background-color: #F0F0F0;
  opacity: 1;
  text-align: center;
}

.test {
    height:300px;
    background: blue;
}
